<!-- <nav class="navbar">
    <a routerLink="/dashboard" routerLinkActive="active-link">Home</a>
    <a routerLink="/income" routerLinkActive="active-link">Income</a>
    <a routerLink="/expense" routerLinkActive="active-link">Expense</a>
</nav>
   -->


   <nav class="navbar">
    <a routerLink="/dashboard" routerLinkActive="active-link">
      <mat-icon>home</mat-icon> Home
    </a>
    <a routerLink="/income" routerLinkActive="active-link">
      <mat-icon>attach_money</mat-icon> Income
    </a>
    <a routerLink="/expense" routerLinkActive="active-link">
      <mat-icon>shopping_cart</mat-icon> Expense
    </a>
  </nav>
  