  <!-- <mat-card>
    <h2>Login</h2>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="user.email" name="email" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="user.password" name="password" required />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </form>
    <p>
      Don't have an account? <a routerLink="/register">Register</a>
    </p>
  </mat-card>
  
   -->

   <mat-card class="auth-card">
    <h2 class="auth-title">Login</h2>
    <form class="auth-form" #loginForm="ngForm">
      <mat-form-field class="auth-input" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          [(ngModel)]="user.email"
          name="email"
          required
          #email="ngModel"
        />
      </mat-form-field>
      <mat-form-field class="auth-input" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          [(ngModel)]="user.password"
          name="password"
          required
          #password="ngModel"
        />
      </mat-form-field>
      <button
        mat-raised-button
        class="auth-button"
        [disabled]="!loginForm.valid"
        (click)="login()"
      >
        Login
      </button>
    </form>
    <p class="auth-footer">
      Don't have an account? <a routerLink="/register">Register</a>
    </p>
  </mat-card>
  