.logoutbtn{
    width:200px;
    display: flex;
    align-self: flex-end;
}

.dashboard-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .toolbar {
    font-size: 24px;
    font-weight: bold;
  }
  
  .summary-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .summary-card {
    flex: 1 1 calc(33.333% - 20px);
    min-width: 200px;
    text-align: center;
    background: linear-gradient(to right, #4caf50, #81c784);
    color: white;
  }
  
  .charts-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
  
    .chart-card {
      width: 45%;
      min-width: 300px;
    }
  
    .chart-container {
      position: relative;
      height: 300px;
      width: 100%;
    }
  }
  