.dashboard-container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFFFFF;
}

.welcome-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px;
  color: #000; 
}

.logout-btn {
  background-color: #FF9F1C;
}

.logout-btn:hover {
  background-color: #FFBF69;
}

.charts-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.chart-card {
  flex: 1;
  min-width: 300px;
}

.chart-container {
  height: 300px; /* Set a fixed height for charts */
}

mat-card-content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  flex-wrap: wrap;
}

mat-card-title, .anoData{
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 768px) {
  .charts-section {
    flex-direction: column;
  }
}

.summary-section {
  margin: 10px 0;
}

.table-section table {
  width: 100%;
  border-collapse: collapse;
}

.table-section th,
.table-section td {
  border: 1px solid #2EC4B6;
  padding: 8px;
  text-align: center;
}

.table-section th {
  background-color: #2EC4B6;
  color: #FFFFFF;
}

.table-section td {
  background-color: #F9F9F9;
}


